/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* custom reset */
* {
    box-sizing: border-box;
}



/* nav bar */
nav {
    height: 96px;
    padding: 30px;

    background-color: #F5EA5A;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center; /* centering content along the cross axis. */
    
    margin: 11px 0 17px 25px;
    padding: 1em;
    border: 2px solid #FF78F0;

    background-color: #FF78F0;
    color: #F5EA5A;

    font-family: 'Roboto';
}

.nav-right {
    width: 80%;
    margin: 0 25px 0 0
}

ul {
    display: flex;
    justify-content: flex-end; /* distribute the items along the main axis */
    text-align: right;
}

li {
    margin: 10px;
}

li a {
    padding: 1em;


    /* border here is not pretty */
    border: 2px solid #FF78F0;
    background-color: #FF78F0;
    color: #F5EA5A;

    font-family: 'Roboto';
    text-decoration: none;
}
li a:hover {
    border: 2px solid #FF78F0;
    color: #FF78F0;
    background-color: #F5EA5A;
}
li a:active {
    border: 2px solid #A31ACB;
    color: #FF78F0;
    background-color: #A31ACB;
}



/* header section */
header {
    background-color: #39B5E0;
    color: #F5EA5A;

    padding: 113px 20vw 78px 20vw;
}

h1 , h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    /* color: #000000; */
}

header h1 {
    text-transform: capitalize;
    /* text-shadow: #FC0 1px 0 10px; */
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;

    /* color: #000000; */
}

header p {
    /* text-shadow: #FC0 1px 0 10px; */
}



/* duck section */
#duck {
    background-color: #A31ACB;
    display: flex;
}

.text {
    flex: 1 50vw;

    padding: 116px 0;

    color: #F5EA5A;
}

.text h2 {
    text-transform: capitalize;
    /* text-shadow: #FC0 1px 0 10px; */
}

.duck img:hover {
    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    animation: wiggle 0.1s infinite;
}

/*Keyframe definition 
This custom keyframe rule named “unblur” will change the appearance of a text: 
it will start with a text-shadow and will end with no text-shadow.
This is the custom animation that we will use inside the animation property */
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes shake {
    10%, 90% {
    transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
    transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
    transform: translate3d(4px, 0, 0);
    }
}

.text p {
    line-height: 1.5em;
    /* text-shadow: #FC0 1px 0 10px; */
}

.text button {
    /* that is not pretty */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 132px;
    margin: 17px auto;
    padding: 14px 25px;

    border: 2px solid #F5EA5A;

    color: #A31ACB;
    background-color: #F5EA5A;

    text-align: center;
}
.text button:hover  {
    border: 2px solid #F5EA5A;

    color: #F5EA5A;
    background-color: #A31ACB;

    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    /* animation: shake 0.1s infinite; */
}
.text button:active  {
    border: 2px solid #F5EA5A;

    color: #F5EA5A;

    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    animation: wiggle 0.1s infinite;
}

.duck {
    flex: 1 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 49px 0 49px 0;
}

.duck img {
    width: 300.25px;
}



/* emergency section */
#emergency {
    background-color: #FF78F0;
    text-align: center;
}

#emergency h2 {
    padding: 36px 0;
    color: #F5EA5A;
    /* text-shadow: #FC0 1px 0 10px; */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    width: 60%;
    margin: 0 auto;
}

.grid-container a {
    font-family: 'Roboto';
    text-decoration: none;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    margin: 26px;

    background-color: #F5EA5A;
    color:#FF78F0;
    /* text-shadow: #FF78F0 1px 0 10px; */
}
.grid-item:hover {
    background-color: #FF78F0;
    border: 2px solid #F5EA5A;
    color: #F5EA5A;
    /* text-shadow: #F5EA5A 1px 0 10px; */

    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    animation: shake 0.1s infinite;
}
.grid-item:active {
    background-color: #A31ACB;
    color: #F5EA5A;
    /* text-shadow: #F5EA5A 1px 0 10px; */

    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    animation: wiggle 0.1s infinite;
}



/* footer section */
footer {
    background-color: #F5EA5A;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #39B5E0;
}

footer h2 {
    padding: 37px 0 17px 0;
}

footer form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 439px;
}

form input {
    margin: 0 0 17px 0;

    border: none;
}

form > *:not(:last-child) {
    margin: 0 0 17px 0;
    width: 300px;

    border: 1px solid #39B5E0;
    background-color: #F5EA5A;
    color: #39B5E0;

    transition: width 0.3s ease-in-out 0s;
}

form > *:not(:last-child):hover {
    width: 439px;

    background-color: #39B5E0;
    color: #F5EA5A;
}

form > *:not(:last-child):focus {
    width: 439px;

    background-color: #39B5E0;
    color: #F5EA5A;
}

form button {
    width: 132px;
    margin: 17px auto;
    padding: 12px 25px;

    border: 1px solid #39B5E0;
    background-color: #39B5E0;
    color: #F5EA5A;

    transition: width 0.3s ease-in-out 0s;
}

form button:hover {
    width: 132px;
    margin: 17px auto;
    padding: 12px 25px;
    width: 100%;

    border: 1px solid #39B5E0;
    background-color: #F5EA5A;
    color: #39B5E0;
}
form button:active {
    width: 132px;
    margin: 17px auto;
    padding: 12px 25px;
    width: 100%;

    border: 1px solid #39B5E0;
    background-color: #39B5E0;
    color: #F5EA5A;

    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    animation: shake 0.1s infinite;
}

footer div {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 439px;
}

footer img {
    width: 64px;
    margin: 18px;
}