/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 

    height: 96px;
    padding: 16px 55px 12px 55px;

    background-color: #F5EA5A; 
}
.nav-left {
    display: flex;
    align-items: center; /* centering content along the cross axis. */
    
    height: 68px;
    padding: 1em 30px;
    border: 2px solid #FF78F0;

    background-color: #FF78F0;
    color: #F5EA5A;

    font-family: 'Roboto';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.nav-right {
    width: 80%;
}
ul {
    display: flex;
    justify-content: flex-end; /* distribute the items along the main axis */
    gap: 20px;
}
li {
}
li a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 68px;
    padding: 1em 30px;

    /* border here is not pretty */
    border: 2px solid #FF78F0;
    background-color: #FF78F0;
    color: #F5EA5A;

    font-family: 'Roboto';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
li a:hover {
    border: 2px solid #FF78F0;
    color: #FF78F0;
    background-color: #F5EA5A;
}
li a:active {
    border: 2px solid #A31ACB;
    color: #FF78F0;
    background-color: #A31ACB;
}



/* header section */
header {
    background-color: #39B5E0;
    color: #F5EA5A;

    padding: 113px 20vw 78px 20vw;
}
h1 , h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
header h1 {
    text-transform: capitalize;
}
p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;

}
header p {
    /* text-shadow: #FC0 1px 0 10px; */
}



/* duck section */
#duck {
    background-color: #A31ACB;
    display: flex;
}
.text {
    flex: 1 50vw;

    padding: 116px 0;

    color: #F5EA5A;
}
.text h2 {
    text-transform: capitalize;
}
.text p {
    line-height: 1.5em;
}
.text button {
    /* that is not pretty */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 132px;
    margin: 17px auto;
    padding: 14px 25px;

    border: 2px solid #F5EA5A;

    color: #A31ACB;
    background-color: #F5EA5A;

    text-align: center;
}
.text button:hover  {
    border: 2px solid #F5EA5A;

    color: #F5EA5A;
    background-color: #A31ACB;

    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    /* animation: shake 0.1s infinite; */
}
.text button:active  {
    border: 2px solid #F5EA5A;

    color: #F5EA5A;

    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    animation: wiggle 0.1s infinite;
}
.duck {
    flex: 1 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 49px 0 49px 0;
}
.duck img {
    width: 300.25px;
}
.duck img:hover {
    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    animation: wiggle 0.1s infinite;
}


/* emergency section */
#emergency {
    background-color: #FF78F0;
    text-align: center;
}
#emergency h2 {
    padding: 36px 0;
    color: #F5EA5A;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    
    width: 60%;
    margin: 0 auto;
}
.grid-container a {
    font-family: 'Roboto';
    text-decoration: none;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    margin: 26px;

    background-color: #F5EA5A;
    color:#FF78F0;
}
.grid-item:hover {
    background-color: #FF78F0;
    border: 2px solid #F5EA5A;
    color: #F5EA5A;

    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    animation: shake 0.1s infinite;
}
.grid-item:active {
    background-color: #A31ACB;
    color: #F5EA5A;

    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    animation: wiggle 0.1s infinite;
}



/* footer section */
footer {
    background-color: #F5EA5A;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #39B5E0;
}
footer h2 {
    padding: 37px 0 17px 0;
}
footer form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 439px;
}
form input {
    margin: 0 0 17px 0;

    border: none;
}
form > *:not(:last-child) {
    margin: 0 0 17px 0;
    width: 300px;

    border: 1px solid #39B5E0;
    background-color: #F5EA5A;
    color: #39B5E0;

    transition: width 0.3s ease-in-out 0s;
}
form > *:not(:last-child):hover {
    width: 439px;

    background-color: #39B5E0;
    color: #F5EA5A;
}
form > *:not(:last-child):focus {
    width: 439px;

    background-color: #39B5E0;
    color: #F5EA5A;
}
form button {
    width: 132px;
    margin: 17px auto;
    padding: 12px 25px;

    border: 1px solid #39B5E0;
    background-color: #39B5E0;
    color: #F5EA5A;

    transition: width 0.3s ease-in-out 0s;
}
form button:hover {
    width: 132px;
    margin: 17px auto;
    padding: 12px 25px;
    width: 100%;

    border: 1px solid #39B5E0;
    background-color: #F5EA5A;
    color: #39B5E0;
}
form button:active {
    width: 132px;
    margin: 17px auto;
    padding: 12px 25px;
    width: 100%;

    border: 1px solid #39B5E0;
    background-color: #39B5E0;
    color: #F5EA5A;

    /*animation-name - animation-duration - animation-delay animation-iteration-count */
    animation: shake 0.1s infinite;
}
footer div {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 439px;
}
footer img {
    width: 64px;
    margin: 18px;
}